table {
    width:auto;    
}
table, th, td, tbody{
    border: 2px solid black;
    border-collapse: collapse;
    height: 2em;
}

th{
    background-color: rgb(167, 25, 218);
    padding: .5em;
    text-align: left;
}

td{
    padding: .5em;
    min-width: 3em;
}
.task-done{
    background-color: green;
}
.task-not-done{
    background-color: red;
}